.bg-fern{
  background-color: #61BD6D;
}
.bg-meadow{
  background-color: #1ABC9C;
}
.bg-picton{
  background-color: #54ACD2;
}

.bg-mariner{
  background-color: #2C82C9
}

.bg-blue{
  background-color: #3D8EB9;
}

.wrap-calendar {
  width: 100%;
  margin: 10px auto;
}
.calendar-header {
  text-align: center;
  /*margin: 10px 20px 10px 0;*/
  padding: 50px 50px;
  font-size: 16pt;
  background-color: #54ACD2;
  color: #FFF;
}

.calendar-header .btn-left{
  float: left;
}

.calendar-header .btn-right{
  float: right;
}

.calendar-header button{
  background-color: transparent;
  border: 0px;
  outline: 0;
}

#calendar{
  padding: 20px 0;
  border: 1px solid #999;
}

#calendar table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
#calendar table thead td {
  height: 30px;
  font-weight: bold;
}
#calendar table td {
  border: solid 1px #fff;
}

#calendar table td.date-cell {
  height: 100px;
  line-height: 100px;
  color: #333;
}

#calendar table td.date-cell .dis-date.right{
  right: 1rem;
}
#calendar table td.date-cell .dis-date.left{
  left: 1rem;
}

#calendar table td.date-cell .dis-date.bottom{
  bottom: 1rem;
}

#calendar table td.date-cell .dis-date.top{
  top: 1rem;
}

#calendar table td.date-cell .cell-block{
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
#calendar table td.date-cell .cell-block.selected{
  background-color: #ddd;
}

#calendar table td.date-cell:hover{
  background-color: #ddd;
  cursor: pointer;
}

#calendar table td.sun {
  color: red;
}
#calendar table td.sat {
  color: blue;
}
#calendar table td.not-this-month {
  /*background: #ddd;*/
  color: #999;
}
