.bg-fern{
  background-color: #61BD6D;
}
.bg-meadow{
  background-color: #1ABC9C;
}
.bg-picton{
  background-color: #54ACD2;
}

.bg-mariner{
  background-color: #2C82C9
}

.bg-blue{
  background-color: #3D8EB9;
}

.wrap-calendar {
  width: 100%;
  margin: 10px auto;
}
.calendar-header {
  text-align: center;
  /*margin: 10px 20px 10px 0;*/
  padding: 50px 50px;
  font-size: 16pt;
  background-color: #54ACD2;
  color: #FFF;
}

.calendar-header .btn-left{
  float: left;
}

.calendar-header .btn-right{
  float: right;
}

.calendar-header button{
  background-color: transparent;
  border: 0px;
  outline: 0;
}

#calendar{
  padding: 20px 0;
  border: 1px solid #999;
}

#calendar table {
  width: 100%;
  /*border-collapse: collapse;*/
  /*text-align: center;*/
  border-spacing: 10px;
  border-collapse: separate;
}
#calendar table thead td {
  height: 30px;
  font-weight: bold;
}
#calendar table td {
  /*border-bottom: 1px solid #efefef;*/
}

#calendar table tr td:first-child{
  border: 1px solid #ddd;
}

#calendar table td.sat{
  color: blue;
}
#calendar table td.sun{
  color: red;
}

#calendar table td div.date-block {
  width: 100%;
  min-height: 70px;
  /*line-height: 70px;*/
}

#calendar table td .list-group{
  margin: 0;
}

#calendar table td .list-group a{
  border-radius: 0;
}
